<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="300">
</center>

# Assignment: Notebook for Peer Assignment

Estimated time needed: 45 minutes

# Assignment Scenario

Congratulations! You have just been hired by a US Venture Capital firm as a data analyst.

The company is considering foreign grain markets to help meet its supply chain requirements for its recent investments in the microbrewery and microdistillery industry, which is involved with the production and distribution of craft beers and spirits.

Your first task is to provide a high level analysis of crop production in Canada. Your stakeholders want to understand the current and historical performance of certain crop types in terms of supply and price volatility. For now they are mainly interested in a macro-view of Canada's crop farming industry, and how it relates to the relative value of the Canadian and US dollars.

# Introduction

Using this R notebook you will:

1.  Understand four datasets
2.  Load the datasets into four separate tables in a database
3.  Execute SQL queries to answer assignment questions

You have already encountered two of these datasets in the previous practice lab. You will be able to reuse much of the work you did there to prepare your database tables for executing SQL queries.

# Understand the datasets

To complete the assignment problems in this notebook you will be using subsetted snapshots of two datasets from Statistics Canada, and one from the Bank of Canada. The links to the prepared datasets are provided in the next section; the interested student can explore the landing pages for the source datasets as follows:

1.  <a href="https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMRP0203ENSkillsNetwork23863830-2021-01-01&pid=3210035901">Canadian Principal Crops (Data & Metadata)</a>
2.  <a href="https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMRP0203ENSkillsNetwork23863830-2021-01-01&pid=3210007701">Farm product prices (Data & Metadata)</a>
3.  <a href="https://www.bankofcanada.ca/rates/exchange/daily-exchange-rates?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMRP0203ENSkillsNetwork23863830-2021-01-01">Bank of Canada daily average exchange rates</a>

### 1. Canadian Principal Crops Data \*

This dataset contains agricultural production measures for the principle crops grown in Canada, including a breakdown by province and teritory, for each year from 1908 to 2020.

For this assignment you will use a preprocessed snapshot of this dataset (see below).

A detailed description of this dataset can be obtained from the StatsCan Data Portal at:
[https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?pid=3210035901](https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMRP0203ENSkillsNetwork23863830-2021-01-01&pid=3210035901)\
Detailed information is included in the metadata file and as header text in the data file, which can be downloaded - look for the 'download options' link.

### 2. Farm product prices

This dataset contains monthly average farm product prices for Canadian crops and livestock by province and teritory, from 1980 to 2020 (or 'last year', whichever is greatest).

For this assignment you will use a preprocessed snapshot of this dataset (see below).

A description of this dataset can be obtained from the StatsCan Data Portal at:
[https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?pid=3210007701](https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMRP0203ENSkillsNetwork23863830-2021-01-01&pid=3210007701)
The information is included in the metadata file, which can be downloaded - look for the 'download options' link.

### 3. Bank of Canada daily average exchange rates \*

This dataset contains the daily average exchange rates for multiple foreign currencies. Exchange rates are expressed as 1 unit of the foreign currency converted into Canadian dollars. It includes only the latest four years of data, and the rates are published once each business day by 16:30 ET.

For this assignment you will use a snapshot of this dataset with only the USD-CAD exchange rates included (see next section). We have also prepared a monthly averaged version which you will be using below.

A brief description of this dataset and the original dataset can be obtained from the Bank of Canada Data Portal at:
[https://www.bankofcanada.ca/rates/exchange/daily-exchange-rates/](https://www.bankofcanada.ca/rates/exchange/daily-exchange-rates/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMRP0203ENSkillsNetwork23863830-2021-01-01)

( \* these datasets are the same as the ones you used in the practice lab)

https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-RP0203EN-SkillsNetwork/labs/Final%20Project/Monthly_FX.csv### Dataset URLs

1.  Annual Crop Data: <https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-RP0203EN-SkillsNetwork/labs/Final%20Project/Annual_Crop_Data.csv>

2.  Farm product prices: <https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-RP0203EN-SkillsNetwork/labs/Final%20Project/Monthly_Farm_Prices.csv>

3.  Daily FX Data: <https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-RP0203EN-SkillsNetwork/labs/Final%20Project/Daily_FX.csv>

4.  Monthly FX Data: <https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-RP0203EN-SkillsNetwork/labs/Final%20Project/Monthly_FX.csv>

<span style="color:red">**IMPORTANT:**</span> You will be loading these datasets directly into R data frames from these URLs instead of from the StatsCan and Bank of Canada portals. The versions provided at these URLs are simplified and subsetted versions of the original datasets.

#### Now let's load these datasets into four separate tables.

Let's first load the RSQLite package:

In [8]:
install.packages("RSQLite")

Updating HTML index of packages in '.Library'
Making 'packages.html' ... done

In [9]:
library(RSQLite)

## Problem 1

#### Create tables

Establish a connection **conn** to the RSQLite database **FinalDB.sqlite**, and create the following four tables.

1.  **CROP_DATA**
2.  **FARM_PRICES**
3.  **DAILY_FX**
4.  **MONTHLY_FX**

The previous practice lab will help you accomplish this.

In [11]:
df1<-dbExecute(conn, 
               "CREATE TABLE ANNUAL_CROP_DATA (
                                      CD_ID INTEGER NOT NULL,
                                      YEAR DATE NOT NULL,
                                      CROP_TYPE VARCHAR(20) NOT NULL,
                                      GEO VARCHAR(20) NOT NULL, 
                                      SEEDED_AREA INTEGER NOT NULL,
                                      HARVESTED_AREA INTEGER NOT NULL,
                                      PRODUCTION INTEGER NOT NULL,
                                      AVG_YIELD INTEGER NOT NULL,
                                      PRIMARY KEY (CD_ID)
                                      )", 
               errors=FALSE
)

if (df1 == -1){
  cat ("An error has occurred.\n")
  msg <- odbcGetErrMsg(conn)
  print (msg)
} else {
  cat ("Table was created successfully.\n")
}

Table was created successfully.

In [12]:
df2<-dbExecute(conn,
               
               "CREATE TABLE FARM_PRODUCT_PRICE (
               
                            CD_ID INTEGER NOT NULL,
                            YEAR DATE NOT NULL,
                            CROP_TYPE VARCHAR (20)NOT NULL,
                            GEO VARCHAR (20)NOT NULL,
                            PRICE_PRERMT FLOAT(6),
                            PRIMARY KEY(CD_ID)
      
               
               )" , 
               
               errors =FALSE
)

if (df2 == -1){
  cat ("An error has occurred.\n")
  msg <- odbcGetErrMsg(conn)
  print (msg)
} else {
  cat ("Table was created successfully.\n")
}

Table was created successfully.

In [13]:
df3 <- dbExecute(conn, "CREATE TABLE DAILY_FX (
                                DFX_ID INTEGER NOT NULL,
                                DATE DATE NOT NULL, 
                                FXUSDCAD FLOAT(6),
                                PRIMARY KEY (DFX_ID)
                                )",
                 errors=FALSE
)

if (df3 == -1){
  cat ("An error has occurred.\n")
  msg <- odbcGetErrMsg(conn)
  print (msg)
} else {
  cat ("Table was created successfully.\n")
}

Table was created successfully.

In [14]:
df4<- dbExecute(conn, "CREATE TABLE MONTHLY_FX (
                                DFX_ID INTEGER NOT NULL,
                                DATE DATE NOT NULL, 
                                FXUSDCAD FLOAT(6),
                                PRIMARY KEY (DFX_ID)
                                )",
                 errors=FALSE
)

if (df4== -1){
  cat ("An error has occurred.\n")
  msg <- odbcGetErrMsg(conn)
  print (msg)
} else {
  cat ("Table was created successfully.\n")
}

Table was created successfully.

In [15]:
#check list of tables in the present db.
dbListTables(conn)

[1] "ANNUAL_CROP_DATA"   "DAILY_FX"           "FARM_PRODUCT_PRICE"
[4] "MONTHLY_FX"

## Problem 2

#### Read Datasets and load your tables in database

Read the datasets into R dataframes using the urls provided above. Then load your tables in database.

In [16]:
ANNUAL_CROP_df<-read.csv('https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-RP0203EN-SkillsNetwork/labs/Final%20Project/Annual_Crop_Data.csv')
FARM_PRODUCT_PRICE_df<-read.csv('https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-RP0203EN-SkillsNetwork/labs/Final%20Project/Monthly_Farm_Prices.csv')
head(ANNUAL_CROP_df)
head(FARM_PRODUCT_PRICE_df)

  CD_ID YEAR       CROP_TYPE GEO          SEEDED_AREA HARVESTED_AREA PRODUCTION
1 0     1965-12-31 Barley    Alberta      1372000     1372000        2504000
2 1     1965-12-31 Barley    Canada       2476800     2476800        4752900
3 2     1965-12-31 Barley    Saskatchewan  708000      708000        1415000
4 3     1965-12-31 Canola    Alberta       297400      297400         215500
5 4     1965-12-31 Canola    Canada        580700      580700         512600
6 5     1965-12-31 Canola    Saskatchewan  224600      224600         242700
  AVG_YIELD
1 1825
2 1920
3 2000
4  725
5  885
6 1080

  CD_ID DATE       CROP_TYPE GEO          PRICE_PRERMT
1 0     1985-01-01 Barley    Alberta      127.39
2 1     1985-01-01 Barley    Saskatchewan 121.38
3 2     1985-01-01 Canola    Alberta      342.00
4 3     1985-01-01 Canola    Saskatchewan 339.82
5 4     1985-01-01 Rye       Alberta      100.77
6 5     1985-01-01 Rye       Saskatchewan 109.75

In [75]:
DAILY_FX_DF<- read.csv('https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-RP0203EN-SkillsNetwork/labs/Final%20Project/Daily_FX.csv')
head(DAILY_FX_DF)

  DFX_ID DATE       FXUSDCAD
1 0      2017-01-03 1.3435
2 1      2017-01-04 1.3315
3 2      2017-01-05 1.3244
4 3      2017-01-06 1.3214
5 4      2017-01-09 1.3240
6 5      2017-01-10 1.3213

## Now execute SQL queries using the RSQLite R package to solve the assignment problems.

## Problem 3

#### How many records are in the farm prices dataset?

In [76]:
MONTHLY_FX_df<-read.csv('https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-RP0203EN-SkillsNetwork/labs/Final%20Project/Monthly_FX.csv')
head(MONTHLY_FX_df)

  DFX_ID DATE       FXUSDCAD
1 0      2017-01-01 1.319276
2 1      2017-02-01 1.310726
3 2      2017-03-01 1.338643
4 3      2017-04-01 1.344021
5 4      2017-05-01 1.360705
6 5      2017-06-01 1.329805

In [24]:
dbGetQuery(conn,'select count(CD_ID) FROM ANNUAL_CROP_DATA')

  count(CD_ID)
1 672

## Problem 4

#### Which geographies are included in the farm prices dataset?

In [25]:
dbGetQuery(conn,'select DISTINCT(GEO) FROM FARM_PRODUCT_PRICE')

  GEO
1 Alberta
2 Saskatchewan

In [80]:
dbGetQuery(conn,"SELECT SUM(HARVESTED_AREA) AS TOTAL_RYE_HARVESTED_HECTARES
FROM ANNUAL_CROP_DATA
WHERE GEO = 'Canada' AND CROP_TYPE = 'Rye' AND YEAR = '1968-12-31'")

  TOTAL_RYE_HARVESTED_HECTARES
1 274100

## Problem 6

#### Query and display the first 6 rows of the farm prices table for Rye.

In [26]:
dbGetQuery(conn,"select * from  ANNUAL_CROP_DATA Where CROP_TYPE='Rye' LIMIT 6 " )

  CD_ID YEAR       CROP_TYPE GEO          SEEDED_AREA HARVESTED_AREA PRODUCTION
1  6    1965-12-31 Rye       Alberta       81000       81000         116400
2  7    1965-12-31 Rye       Canada       323900      323900         453400
3  8    1965-12-31 Rye       Saskatchewan 166000      166000         224000
4 18    1966-12-31 Rye       Alberta       70000       70000         109000
5 19    1966-12-31 Rye       Canada       293400      293400         437600
6 20    1966-12-31 Rye       Saskatchewan 161000      161000         228600
  AVG_YIELD
1 1435
2 1400
3 1350
4 1555
5 1490
6 1420

## Problem 7

#### Which provinces grew Barley?

In [77]:
dbGetQuery(conn,"SELECT DISTINCT(GEO) FROM ANNUAL_CROP_DATA WHERE CROP_TYPE='Barley'")

  GEO
1 Alberta
2 Canada
3 Saskatchewan

## Problem 8

#### Find the first and last dates for the farm prices data.

In [28]:
dbGetQuery(conn, 'SELECT min(DATE) FIRST_DATE, max(DATE) LAST_DATE FROM FARM_PRODUCT_PRICE')

  FIRST_DATE LAST_DATE
1 1985-01-01 2020-12-01

## Problem 9

#### Which crops have ever reached a farm price greater than or equal to $350 per metric tonne?

In [38]:
dbGetQuery(conn,"SELECT  CROP_TYPE
FROM  FARM_PRODUCT_PRICE
WHERE PRICE_PRERMT > '350'
"
)

    CROP_TYPE
1   Canola
2   Canola
3   Canola
4   Canola
5   Canola
6   Canola
7   Canola
8   Canola
9   Canola
10  Canola
11  Canola
12  Canola
13  Canola
14  Canola
15  Canola
16  Canola
17  Canola
18  Canola
19  Canola
20  Canola
21  Canola
22  Canola
23  Canola
24  Canola
25  Canola
26  Canola
27  Canola
28  Canola
29  Canola
30  Canola
⋮   ⋮
440 Canola
441 Canola
442 Canola
443 Canola
444 Canola
445 Canola
446 Canola
447 Canola
448 Canola
449 Canola
450 Canola
451 Canola
452 Canola
453 Canola
454 Canola
455 Canola
456 Canola
457 Canola
458 Canola
459 Canola
460 Canola
461 Canola
462 Canola
463 Canola
464 Canola
465 Canola
466 Canola
467 Canola
468 Canola
469 Canola

## Problem 10

#### Rank the crop types harvested in Saskatchewan in the year 2000 by their average yield. Which crop performed best?

In [66]:
dbGetQuery(conn, "SELECT  HARVESTED_AREA ,CROP_TYPE , SEEDED_AREA, HARVESTED_AREA,  100*(SEEDED_AREA-HARVESTED_AREA)/SEEDED_AREA AS best_performance_Average
    FROM ANNUAL_CROP_DATA 
    WHERE    GEO='Saskatchewan' AND YEAR >=2000
    ORDER BY best_performance_Average DESC
    LIMIT 10")

   HARVESTED_AREA CROP_TYPE SEEDED_AREA HARVESTED_AREA best_performance_Average
1    22200        Rye         50600       22200        56
2    68700        Rye        113300       68700        39
3    52600        Rye         80900       52600        34
4    40500        Rye         58700       40500        31
5    46500        Rye         66800       46500        30
6  1416400        Barley    2043700     1416400        30
7    64800        Rye         91000       64800        28
8    21600        Rye         30400       21600        28
9    85000        Rye        115300       85000        26
10   64700        Rye         87000       64700        25

## Problem 11

#### Rank the crops and geographies by their average yield (KG per hectare) since the year 2000. Which crop and province had the highest average yield since the year 2000?

In [67]:
dbGetQuery(conn ,"select CROP_TYPE , GEO ,  SEEDED_AREA, HARVESTED_AREA,  100*(SEEDED_AREA-HARVESTED_AREA)/SEEDED_AREA AS best_performance_Average 
                                                FROM ANNUAL_CROP_DATA
                                                WHERE YEAR>=2000
                                                ORDER BY best_performance_Average
"
           )

    CROP_TYPE GEO          SEEDED_AREA HARVESTED_AREA best_performance_Average
1   Canola    Saskatchewan 2387600     2371500        0
2   Canola    Canada       4735700     4689200        0
3   Canola    Saskatchewan 2306700     2286500        0
4   Canola    Alberta      1821100     1813000        0
5   Canola    Canada       5283300     5238200        0
6   Canola    Alberta      2037600     2023400        0
7   Canola    Canada       6382200     6332800        0
8   Canola    Saskatchewan 3049300     3025000        0
9   Canola    Alberta      2104400     2092200        0
10  Canola    Canada       6541100     6495900        0
11  Canola    Saskatchewan 3116100     3095800        0
12  Canola    Alberta      2246000     2225800        0
13  Canola    Saskatchewan 4006400     3986200        0
14  Canola    Alberta      2711400     2691200        0
15  Wheat     Saskatchewan 5224500     5179900        0
16  Canola    Alberta      2565700     2555600        0
17  Canola    Canada       8274100     8233400        0
18  Canola    Saskatchewan 4309900     4289700        0
19  Canola    Alberta      2751900     2739700        0
20  Canola    Canada       8457900     8392400        0
21  Canola    Saskatchewan 4350400     4309900        0
22  Canola    Alberta      2535400     2519200        0
23  Canola    Canada       8411300     8364400        0
24  Canola    Saskatchewan 4512200     4492000        0
25  Canola    Saskatchewan 4552700     4522400        0
26  Canola    Alberta      2804500     2788300        0
27  Canola    Canada       9313400     9273100        0
28  Canola    Saskatchewan 5151600     5131400        0
29  Wheat     Saskatchewan 4587100     4541800        0
30  Canola    Saskatchewan 4997900     4955000        0
⋮   ⋮         ⋮            ⋮           ⋮              ⋮
223 Rye       Alberta        18200       12100        33
224 Rye       Alberta        52600       34400        34
225 Barley    Canada       5070200     3341800        34
226 Rye       Canada        207600      136100        34
227 Rye       Saskatchewan   80900       52600        34
228 Rye       Alberta        28300       18200        35
229 Rye       Alberta        32800       21000        35
230 Rye       Canada        236700      153000        35
231 Rye       Canada        188200      114500        39
232 Rye       Canada        258200      156800        39
233 Rye       Saskatchewan  113300       68700        39
234 Rye       Canada        246400      147300        40
235 Rye       Canada        276200      163900        40
236 Rye       Canada        135400       78900        41
237 Rye       Canada        174700      102600        41
238 Rye       Alberta        16000        9100        43
239 Rye       Alberta        18200       10100        44
240 Rye       Alberta        30400       16200        46
241 Barley    Alberta      2169100     1127000        48
242 Rye       Alberta        40500       20200        50
243 Rye       Canada        159900       76800        51
244 Rye       Alberta        60700       28300        53
245 Rye       Alberta        66800       30300        54
246 Rye       Saskatchewan   50600       22200        56
247 Rye       Alberta        89000       36400        59
248 Rye       Alberta        50600       20200        60
249 Rye       Alberta        42500       16200        61
250 Rye       Alberta        26600        7800        70
251 Rye       Alberta        85000       22300        73
252 Rye       Alberta        46500       10100        78

## Problem 12

#### Use a subquery to determine how much wheat was harvested in Canada in the most recent year of the data.

In [78]:
most_recent_year <- dbGetQuery(conn, "
SELECT MAX(YEAR) AS MOST_RECENT_YEAR
FROM ANNUAL_CROP_DATA WHERE  GEO ='Canda' AND CROP_TYPE = 'Wheat'
"
                               )
most_recent_year

  MOST_RECENT_YEAR
1 NA

In [74]:
most_recent_year <- dbGetQuery(conn, "
SELECT MAX(YEAR) AS MOST_RECENT_YEAR
FROM ANNUAL_CROP_DATA WHERE  GEO ='Canda' AND CROP_TYPE = 'Wheat'
"
                               )

## Problem 13

#### Use an implicit inner join to calculate the monthly price per metric tonne of Canola grown in Saskatchewan in both Canadian and US dollars. Display the most recent 6 months of the data.

In [73]:
dbGetQuery(conn, "Select f.DATE, 
       f.PRICE_PRERMT AS CANADIAN_DOLLARS,
       f.PRICE_PRERMT / m.FXUSDCAD AS US_DOLLAR
           
           from FARM_PRODUCT_PRICE f
           INNER JOIN MONTHLY_FX m
           ON f.DATE =m.DATE 
           WHERE f.CROP_TYPE = 'Canola'
  AND f.GEO = 'Saskatchewan'
ORDER BY f.DATE DESC
LIMIT 6
"
           )

  DATE       CANADIAN_DOLLARS US_DOLLAR
1 2020-12-01 507.33           396.1128
2 2020-11-01 495.64           379.2718
3 2020-10-01 474.80           359.2965
4 2020-09-01 463.52           350.4057
5 2020-08-01 464.60           351.3827
6 2020-07-01 462.88           342.9122

## Author(s)

<h4> Jeff Grossman </h4>

<h4> D.M. Naidu </h4>

## Contributor(s)

<h4> Rav Ahuja </h4>

<h4> Lakshmi Holla </h4>

zzzzzz

| Date       | Version | Changed by    | Change Description                        |
| ---------- | ------- | ------------- | ----------------------------------------- |
| 2022-03-03 | 1.0     | D.M. Naidu    | Converted intial version to RSQLite       |

## <h3 align="center"> © IBM Corporation 2022. All rights reserved. <h3/>